body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  padding-left: 300px;
  background-color: #f1f1f13d;
  margin: 0 !important;
  flex: 1 0 auto;
}

.loginmain {
  background-color: #f1f1f13d;
  margin: 0 !important;
  flex: 1 0 auto;
}

.loginbox {
  border: 1px solid black;
  border-radius: 10px;
}

.sectionTitle {
  margin-left: 2%; 
}

footer {
  padding-left: 300px;
  background-color: #f1f1f13d;
}

.footerlogin {
  padding-left: 0 !important;
}

.rowtoppadded2 {
  padding-top: 2%;
}

.rowtoppadded10 {
  padding-top: 10%;
}

.rowbottompadded {
  padding-bottom: 2% !important;
}

.paginator {
  border-bottom: 0;
}

.padright {
  padding-right: 2%;
}

.borderedbox {
  border: 1px solid black;
  border-radius: 10px;
}

.sidenav-trigger {
  display: none;
}

.sidenav-trigger > i {
  font-size: 3rem;
}

.card-link {
  color: black;
  text-decoration: none;
}

.assetImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: unset !important;
}

.footer {
  margin-top: 2%;
}

.respon-table {
  overflow-x:auto;
}


@media only screen and (max-width: 993px) {
  .main {
    padding-left: 0;
  }
  .sidenav-trigger {
    display: block;
  }
  footer {
    padding-left: 0;
  }
  .rowtoppadded {
    padding-top: 0;
  }
}

.announcement {
  background-color: #E91E63;
  color: white;
  text-align: center;
  width: 80%;
  padding: 0.5%;
  -webkit-box-shadow: 0 0 7px 0 grey;
  -moz-box-shadow: 0 0 7px 0 grey;
  box-shadow: 0 0 7px 0 grey;
  /* overflow-x: scroll; */
  overflow-y: hidden;
  margin: auto auto 2%;
}

.announcement > h6 {
  font-variant-caps: small-caps;
}

.banner-funding {
  display: none;
  padding: 20px 10px;
  border-radius: 5px;
  background: #F44336;
  color: #fff;
  text-align: center;
  font-weight: bold;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/** Masonry **/

.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.text-center {
  text-align: center;
}

/** Masonry End **/